body {
    font-family: 'Roboto', sans-serif;
}

.content {
    margin-top: 110px;
}

.post-title .info {
    margin-left: 0;
}

.post-title h1,
.post-title h3 a,
.listing-title {
    font-family: 'Indie Flower', cursive;
}

.post .post-content a {
    letter-spacing: inherit;
}

.theme-switch {
    cursor: pointer;
}
