:root {
    --template-color-first: #fff;
    --template-color-second: #443b97;
    --template-color-third: #FFC100;
    --template-color-heading: #443b97;
    --template-color-links: #443b97;
    --template-main-font: IBMPlexSans, sans-serif;
    --template-heading-font: IBMPlexMono, sans-serif;
    --heading-color: var(--template-color-second);
    --font-color: inherit;
}

html[data-theme=dark] {
    --font-color: #fff;
    --template-color-heading: #FFC100;
    --heading-color: #FFC100;
    --body-color: #000;
    --template-color-second: #000;
    --template-color-links: #FFC100;
}

html, body {
    height: 100%;
}

::selection {
    background: var(--template-color-links);
    color: var(--template-color-first);
    text-shadow: none
}

body {
    font-family: var(--template-main-font);
    color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--template-heading-font);
    color: var(--template-color-heading);
}

.sidebar,
.sidebar .logo-title .title a,
.sidebar .social-links a,
.footer a {
    background-color: var(--template-color-second);
    color: var(--template-color-first);
}

.sidebar .logo-title .title h3 {
    width: 70%;
    margin: 20px auto 0;
}

.sidebar .logo-title .title h3 a {
    font-style: italic;
    font-size: 4rem;
    width: 70%;
    line-height: 5rem;
    text-transform: initial;
}

.post-title h1,
.post-title h3 a,
.listing-title {
    font-family: var(--template-heading-font);
}

header .nav__list li {
    padding-right: 20px;
}
header .nav__list li:last-child {
    padding-right: 0;
    margin-left: auto;
}

.page-top nav.is-active {
    z-index: 10;
}

p {
    font-size: 1.4em;
}

header .nav__list a.current {
    padding-bottom: 20px;
}

.content {
    margin-top: 110px;
}

.post-title .info {
    margin-left: 0;
}

.sidebar__content {
    position: relative;
    z-index: 10;
}

.post .post-footer {
    border-bottom: 0;
}

.post .post-footer .info .separator a {
    color: var(--body-color);
}

.post .post-footer .meta .info {
    margin-top: 0;
    margin-bottom: 0;
}

.p_part {
    font-size: .8em;
}

.post .post-content a {
    letter-spacing: inherit;
}

.post-content > aside {
    width: 100%;
    position: relative;
    bottom: 20px;
}

header .nav__list a {
    font-size: 1.6em;
}

.theme-switch {
    cursor: pointer;
}

.particles-js-canvas-el {
    position: absolute;
    left: 0;
    z-index: 1;
}

header .nav__list a:hover,
.post .post-content a,
.post .post-content a:hover,
.post .post-footer .meta a:hover,
.post .post-footer .info .separator a.tag:hover,
.post .post-footer .info .separator a,
.post .post-footer .meta .info,
.footer a:hover,
.list-with-title .listing .listing-post a:hover {
    color: var(--template-color-links);
}

.sidebar .footer a:hover {
    color: var(--template-color-first);
}

.sidebar .social-links a:hover {
    color: var(--template-color-third);
}

.post .post-content a:hover {
    text-decoration: underline;
}

.footer {
    z-index: 30;
    border-top: 0;
}

.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-footer > div {
    margin: 10px 0;
}
.share-btns > span {
    color: silver;
}
.share-btns > div {
    display: inline-block;
    vertical-align: middle;
}
.share-btns > div:after {
    content: "";
    display: block;
    clear: both;
}
.share-btns > div > a {
    position: relative;
    text-align: left;
    height: 36px;
    width: 32px;
    float: left;
    text-align: center;
}
.share-btns > div > a > svg {
    height: 16px;
    fill: #d5d5d5;
    margin-top: 10px;
}
.share-btns > div > a:hover {
    cursor: pointer;
}

.share-btns > div > a.facebook:hover > svg { fill: var(--template-color-links) } /* #3B5998; } */
.share-btns > div > a.twitter:hover > svg { fill: var(--template-color-links) } /* #55ACEE; } */
.share-btns > div > a.linkedin:hover > svg { fill: var(--template-color-links) } /* #0077b5; } */
.share-btns > div > a.pinterest:hover > svg { fill: var(--template-color-links) } /* #CB2027; } */
.share-btns > div > a.mail:hover > svg { fill: var(--template-color-links) } /* #7D7D7D; } */

.share-btns > div > a.facebook > svg {
    height: 18px;
    margin-top: 9px;
}
.share-btns > div > a.twitter {
    background: none;
}
.share-btns > div > a.twitter > svg {
    height: 20px;
    margin-top: 8px;
}
.share-btns > div > a.linkedin > svg {
    height: 19px;
    margin-top: 7px;
}
.share-btns > div > a.pinterest > svg {
    height: 20px;
    margin-top: 9px;
}
.share-btns > div > a.mail > svg {
    height: 14px;
    margin-top: 11px;
}

@media screen and (max-width: 960px) {
    .particles-js-canvas-el {
        display: none;
    }

    header {
        z-index: 40;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .footer {
        margin-top: auto;
        border-top: 1px solid var(--border-color);
    }

    .sidebar {
        padding-bottom: 60px;
    }

    .navbar-burger {
        height: 4.25rem;
        width: 5.25rem;
        position: absolute;
        right: 0;
        z-index: 15;
        padding: 10px;
    }
    .navbar-burger span {
        background-color: var(--template-color-first);
        left: calc(50% - 15px);
        height: 2px;
        width: 30px;
    }
    .navbar-burger.is-active > span {
        background-color: var(--template-color-heading);
    }
    .navbar-burger span:nth-child(1) {
        top: calc(50% - 8px);
    }
    .navbar-burger span:nth-child(2) {
        top: calc(50%);
    }
    .navbar-burger span:nth-child(3) {
        top: calc(50% + 8px);
    }

    .content {
        margin-top: 60px;
    }

    .footer a {
        background-color: var(--body-first);
        color: inherit;
    }
}
