body {
    font-family: 'Roboto', sans-serif;
}

.content {
    margin-top: 110px;
}

.post-title .info {
    margin-left: 0;
}

.sidebar__content {
    position: relative;
    z-index: 10;
}

.post-title h1,
.post-title h3 a,
.listing-title {
    font-family: 'Indie Flower', cursive;
}

.post .post-content a {
    letter-spacing: inherit;
}

.theme-switch {
    cursor: pointer;
}

.particles-js-canvas-el {
    position: absolute;
    left: 0;
    z-index: 1;
}

@media screen and (max-width: 960px) {
    .particles-js-canvas-el {
        display: none;
    }
}
